FLAG_SECRET=replace-with-a-long-random-secret-before-vercel-deploy
SESSION_SECRET=replace-with-a-different-long-random-secret
SOLANA_RPC_URL=https://stylish-wandering-arm.solana-devnet.quiknode.pro/940a9021d16bcf79d5dc66acfee71fd4f363a481/
ROOM73_DESK_WALLET=97MmyvrFBTMcBEHYHM1a1aXVLY1eUDeKVULuR1j4LfBH
ROOM73_RECEIPT_SIG=P1cPf82qNFpY9CzSNuJast36uhxD3wdoaPUuyz7r1SXF4SxF8NSmPmWpLuJQUb8i7VXoTWv65kNbGJqgbPKwagy
ROOM73_PHRASE=iron-velvet-73
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAADtu5b5pinjDDBmJ
